<div id="menu-icon-container">
    <img src="Images/menu_8917404.png" alt="" class="menu-icon" />
</div>
<div class="nav">

	<a href="" class="nav-link-home">Leo DeRosa</a>
		
    <nav>
		<NavLink href="About" class="nav-link">About</NavLink>
		<NavLink href="Resume" class="nav-link">Resume</NavLink>
		<NavLink href="Contact" class="nav-link">Contact</NavLink>
    </nav>
   

</div>
