<div id="menu-icon-container">
    <img src="Images/menu_8917404.png" alt="" class="menu-icon" />
</div>
<div class="nav">
    <ul>
        <li>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </li>
        <li>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Projects</a>
        </li>
        <li>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Contact</a>
        </li>
    </ul>
    

</div>
